<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h1 class="my-0 mr-md-auto font-weight-bold">Company name</h1>
</div>

<main class="main">
  <router-outlet></router-outlet>
</main>

