
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h1 class="card-title pricing-card-title">Mortgage calculator</h1>
        </div>
        <div class="card-body">
          <form action="/examples/actions/confirmation.php" method="post">
            <div class="row mb-3">
                <label for="askingPrice" class="col-sm-2 col-form-label">Asking Price</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="askingPrice" placeholder="Asking Price" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="downPaymentSum" class="col-sm-2 col-form-label">Down payment</label>
                <div class="col-sm-10">
                <div class="row mb-3">
                  <div class="col-sm-10">
                      <input type="number" class="form-control" id="downPaymentPerc" placeholder="Down payment" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-10">
                      <input type="number" class="form-control" id="downPaymentSum" placeholder="Down payment" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="mortgageInsurance" class="col-sm-2 col-form-label">Mortgage insurance</label>
              <div class="col-sm-10">
                  <input type="email" class="form-control" id="mortgageInsurance" placeholder="Mortgage insurance" required>
              </div>
            </div>
            <div class="row mb-3">
              <label for="mortgageInsurance" class="col-sm-2 col-form-label">Total Mortgage Payment</label>
              <div class="col-sm-10">
                  <!-- <input type="email" class="form-control" id="mortgageInsurance" placeholder="Mortgage insurance" required> -->
              </div>
            </div>
        </form>
        </div>
      </div>

    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
          <small class="d-block mb-3 text-muted">© 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h4>Features</h4>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h4>Resources</h4>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h4>About</h4>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>


